@import "../../styles/colors.css";

.app-a {
    color: #00bcd4;
    transition: 0.25s;
    cursor: pointer;
    margin-right: 0;
    margin-left: 1em;
    text-decoration: none;
}

.app-a:hover {
    color: #008ba3;
}

.app-a_active {
    color: #008ba3;
}

.header {
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
}

.header__navigation {
    display: inline-flex;
    align-items: center;
}