<div class="files-upload">
    <div class="files-upload__header">
        <h3>Files uploading</h3>
    </div>
    <div class="files-upload__content">

        <div class="dropzone" appDropZone (hovered)="toggleHover($event)" [class.dropzone_hovered]="isHovering">
            <span class="dropzone_label">Drop files here or</span>
            <div class="dropzone__file">

                <label class="file">
                    <input class="file__input">
                    <span class="file__label">choose</span>
                </label>
                
            </div>
        </div>
    </div>
    <div class="files-upload__footer">

    </div>
</div>