.app-a {
  color: #00bcd4;
  transition: 0.25s;
  cursor: pointer;
  margin-right: 0;
  margin-left: 1em;
  text-decoration: none;
  margin: 0;
}

.app-a:hover {
  color: #008ba3;
}

.app-a_active {
  color: #008ba3;
}

.personal__photo {
    display: flex;
    justify-content: center;
}

.photo {
    display: inline-flex;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
    flex-direction: column;
}

.photo__img {
    margin-bottom: 16px;
}