/* You can add global styles to this file, and also import other style files */
/* @import 'bulma/css/bulma.css'; */
/* @import "bootstrap/dist/css/bootstrap.css"; */
/* @import 'semantic-ui-css/semantic.min.css'; */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* .searchmatch {
    font-weight: bold;
} */
.mat-snackbar_error {
    background: #b00020;
    color: #ffffff;
}

.mat-snackbar_success {
    background: #99aa00;
    color: #ffffff;
}